SECRET_KEY=sua_key
DEBUG=True #Em produção o idela é ser False
ALLOWED_HOSTS=127.0.0.1,localhost


POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=fenix_db
POSTGRES_PORT=5432
